<div class="form-group row">
  <label for="etablissementselect" class="label col-sm-3 col-form-label">Établissement</label>

  <div class="col-sm-9">
    <input nbInput name="etablissementselect" [(ngModel)]="etablissementselect"
      (ngModelChange)="onEtablissementChange($event)" type="text" placeholder="tapez un établissement"
      [nbAutocomplete]="autoEtablissement" />


    <nb-autocomplete #autoEtablissement (selectedChange)="etablissementEvent($event)">

      <nb-option *ngFor="let option of filtered | async" [value]="option.libelle">
        {{ option.libelle }}
      </nb-option>

    </nb-autocomplete>
  </div>


</div>
