<div class="form-group row">
    <label for="metierselect" class="label col-sm-3 col-form-label">{{ label }}</label>

      <div class="col-sm-9"> 
        <nb-form-field>
      <input  
      nbInput   
      name="metierselect"
      [(ngModel)]="metierselect"
      (ngModelChange)="onMetierSelectChange($event)"
      type="text"                 
      placeholder="tapez un métier"
      [nbAutocomplete]="autoMetierSelect" 
      />

      <button nbSuffix nbButton ghost  (click)="clear()" type="button">
        <nb-icon icon="trash-outline">
        </nb-icon>
      </button>
      </nb-form-field>

    <nb-autocomplete #autoMetierSelect (selectedChange)="metierEvent($event)"  [activeFirst]="true">

      <nb-option *ngFor="let option of filtered | async" [value]="option.libelle">
        {{ option.libelle }}
      </nb-option>

    </nb-autocomplete>
</div>

 
  </div>
