<nb-card [nbSpinner]="loading" nbSpinnerStatus="danger">
  <nb-card-body>
    <form>
      <div class="row">
        <div class="col-md-12">
          <!-- <p>{{ visite | json }}</p> -->
          <div class="form-group row">
            <label class="col-sm-3 label">Presentation</label>
            <div class="col-sm-9">
              <textarea nbInput name="presentation" fullWidth #presentation cols="30" rows="10"
                [ngModel]="visite.presentation"></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label for="gh" class="label col-sm-3 col-form-label">Groupement</label>
            <div class="col-sm-5">
              <input nbInput name="gh" fullWidth value="{{visite?.gh?.code}} - {{visite?.gh?.libelle}}">
            </div>
          </div>

          <div class="form-group row">
            <label for="eg" class="label col-sm-3 col-form-label">Etablissement</label>
            <div class="col-sm-5">
              <input nbInput name="eg" fullWidth value="{{visite?.eg?.code}} - {{visite?.eg?.libelle}}">
            </div>
          </div>

          <div class="form-group row">
            <label for="uf" class="label col-sm-3 col-form-label">Unité</label>
            <div class="col-sm-5">
              <input nbInput name="uf" fullWidth value="{{visite?.uf?.code}} - {{visite?.uf?.libelle}}">
            </div>
          </div>


          <div class="form-group row">
            <label for="metier" class="label col-sm-3 col-form-label">Métier</label>
            <div class="col-sm-5">
              <input nbInput name="metier" fullWidth value="{{visite?.metier?.code}} - {{visite?.metier?.libelle}}">
            </div>
          </div>


          <div class="form-group row">
            <label for="Places" class="label col-sm-3 col-form-label">Places</label>
            <div class="col-sm-9">
              <input type="number" nbInput name="places" #places [ngModel]="visite?.places">
            </div>
          </div>



          <!-- <div class="form-group row">
    <label for="date" class="label col-sm-3 col-form-label">Date</label>
    <div class="col-sm-9">
      <input nbInput #date name="date" [nbDatepicker]="ngdate" [(ngModel)]="visite.date">
      <nb-datepicker #ngdate format="dd/MM/yyyy"></nb-datepicker>
    </div>
  </div>-->
  <div class="form-group row">
    <label for="date" class="label col-sm-3 col-form-label">Créneau horaire</label>
    <div class="col-sm-9">

      
      <label>Date </label>: {{ visite.date | date: "dd/MM/yyyy" }}<br>
      <label>Heure début</label> :  {{ visite.hdebut | date: "hh:mm" }}<br>
      <label>Heure de fin</label> : {{ visite.hfin| date: "hh:mm" }}

    </div>
  </div>

          <div class="form-group row">
            <label for="hdebut" class="label col-sm-3 col-form-label">Créé par</label>
            <div class="col-sm-9">              
              {{ created_by_shortname }}
            </div>
          </div>

          <div class="form-group row">
            <label for="hdebut" class="label col-sm-3 col-form-label">Chaperon</label>
            <div class="col-sm-9">
              {{ chaperon_shortname}}
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 label">Consignes</label>
            <div class="col-sm-9">
              <textarea nbInput name="consigne" fullWidth #consigne cols="30" rows="5"
                [ngModel]="visite.consigne"></textarea>
            </div>
          </div>

         

  
  
  
 

        </div>
      </div>

    </form>
  </nb-card-body>

</nb-card>
