<form #f="ngForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>
          <h4 class="text-primary">Rechercher une visite</h4>
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-6">
              <h6>Par structure</h6>
              <app-groupement-select label="Groupement" (value)="currentGroupement($event)"></app-groupement-select>
              <app-etablissement-select [parentCode]="groupementCode" 
                (value)="currentEtablissement($event)"></app-etablissement-select>
              <app-unite-select [parentCode]="etablissementCode" 
                (value)="currentUf($event)"></app-unite-select>
            </div>
            <div class="col-6">
              <h6>Par Métier</h6>
              <app-metier-select label="Métiers" (value)="currentMetier($event)"></app-metier-select>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <div class="card-footer-buttons d-flex justify-content-end">
            <button size="small" type="submit" nbButton outline status="primary" [disabled]="!f.form.valid">Lancer la
              recherche</button>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
  </div>
</form>

<app-visite-list [ufCode]="ufCode" [groupementCode]="groupementCode" [etablissementCode]="etablissementCode" [metierCode]="metierCode"></app-visite-list>
