<div class="form-group row">
  <label for="groupementselect" class="label col-sm-3 col-form-label">Groupement</label>

  <div class="col-sm-9">
    <nb-form-field>
    <input nbInput name="groupementselect" [(ngModel)]="groupementselect"
      (ngModelChange)="onGroupementChange($event)" type="text" placeholder="tapez un groupement"
      [nbAutocomplete]="autoGroupement" />


      <button nbSuffix nbButton ghost  (click)="clear()" type="button">
        <nb-icon icon="trash-outline">
        </nb-icon>
      </button>
</nb-form-field>
    <nb-autocomplete #autoGroupement (selectedChange)="groupementEvent($event)">

      <nb-option *ngFor="let option of filtered | async" [value]="option.libelle">
        {{ option.libelle }}
      </nb-option>

    </nb-autocomplete>
  </div>


</div>
