<div class="row align-items-center justify-content-center">
  
  <div class="col-5">
    <nb-card class="inline-form-card"  [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary" >
      <nb-card-header>
        <p class="sub-title">Bonjour ! Connectez vous avec votre compte HCL</p>
      </nb-card-header>
      <nb-card-body>

        
        <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
          <p class="alert-title"><b>Oh mince !</b></p>
          <ul class="alert-message-list">
            <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
          </ul>
        </nb-alert>

        <nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
          <p class="alert-title"><b>Hourra !</b></p>
          <ul class="alert-message-list">
            <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
          </ul>
        </nb-alert>
        

        <form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">

          <div class="form-control-group">
            <label class="label" for="input-email">Nom utilisateur :</label>  <!-- pattern=".+@.+\..+" -->
            <input nbInput
                   fullWidth
                   [(ngModel)]="user.username"
                   #username="ngModel"
                   name="username"
                   id="input-username"
                 
                   placeholder="Nom utilisateur"
                   fieldSize="large"
                   autofocus
                   [status]="username.dirty ? (username.invalid  ? 'danger' : 'success') : 'basic'"
                   [required]="getConfigValue('forms.validation.username.required')"
                   [attr.aria-invalid]="username.invalid && username.touched ? true : null">
            <ng-container *ngIf="username.invalid && username.touched">
              <p class="caption status-danger" *ngIf="username.errors?.required">
                L'email est obligatoire!
              </p>
              <p class="caption status-danger" *ngIf="username.errors?.pattern">
                Le format de l'email est incorrect !
              </p>
            </ng-container>
          </div>

          <div class="form-control-group">
            <span class="label-with-link">
              <label class="label" for="input-password">Mot de passe:</label>
              <!-- <a class="forgot-password caption-2" routerLink="../request-password">Mot de passe oublié ?</a> -->
            </span>
            <input nbInput
                   fullWidth
                   [(ngModel)]="user.password"
                   #password="ngModel"
                   name="password"
                   type="password"
                   id="input-password"
                   placeholder="Password"
                   fieldSize="large"
                   [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'"
                   [required]="getConfigValue('forms.validation.password.required')"                   
                   [attr.aria-invalid]="password.invalid && password.touched ? true : null">
            <ng-container *ngIf="password.invalid && password.touched ">
              <p class="caption status-danger" *ngIf="password.errors?.required">
                Le mot de passe est obligatoire !
              </p>
            </ng-container>
          </div>

          <!-- <div class="form-control-group accept-group">
    <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe" *ngIf="rememberMe">Se souvenir de moi</nb-checkbox>
  </div> -->

          <button nbButton fullWidth status="primary" size="large" >
            Se connecter
          </button>
        </form>



      </nb-card-body>


    </nb-card>
  </div>

</div>
