<p>select-user works!</p>

<div class="form-group row">
    <label for="userselect" class="label col-sm-3 col-form-label">Label</label>
  
    <div class="col-sm-9">
      <input nbInput name="userselect" [(ngModel)]="userselect"
        (ngModelChange)="onUserChange($event)" type="text" placeholder="tapez un email"
        [nbAutocomplete]="autoUser" />
  
  
      <nb-autocomplete #autoUser (selectedChange)="userEvent($event)">
  
        <nb-option *ngFor="let option of filtered | async" [value]="option.libelle">
          {{ option.libelle }}
        </nb-option>
  
      </nb-autocomplete>
    </div>
  
  
  </div>
